@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.about-section{
  width: 70%;

  margin:133px auto;

  .about-header{
    text-align: center;
    font-size: 50px;
    font-weight:normal;
    font-family: Roboto;
  }
  .about-paragraph{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 34px;
margin-top: 30px;
  }

  .about-icon{
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  .about-icon img{
    margin: 10px;
    margin-top: 15px;
  }
}





