@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.about-section{
  width: 80%;
  font-weight: normal;
  margin:133px auto;

  .about-header{
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    font-family: Roboto;
  }
  .about-paragraph{
    line-height: 35px;
    text-align: justify;
    font-family: Roboto;
    font-size: 25px;
    font-weight: normal;
    font-style: normal !important;
    margin-top: 50px;
  }
}


